﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="../favicon.ico">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <style>
        .display {
            display: none;
        }

        .ui-autocomplete {
            width: 600px !important;
            top: 60px !important;
        }

        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            background-color: #2c3e50;
        }
    </style>
</head>
<body class="header">
        <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
            <div class="container">
                <!-- Wrap navbar in a responsive container -->
                <div class="navbar-header">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="~/Content/logo.png" /></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <!-- Collect the nav links and other content for toggling -->
                    <ul class="nav navbar-nav navbar-right">
                        <li id="signin"><a href="#">SignIn</a></li>
                        <li id="signup"><a href="#">SignUp</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br /><br /><br />
        @RenderBody()

        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery")
    <script>
        $("#signup").click(function () {
            $(".signup-panel").show();
            $(".signin-panel").hide();
        });
        $("#signin").click(function () {
            $(".signin-panel").show();
            $(".signup-panel").hide();
        });
    </script>
        @RenderSection("scripts", required: false)
    </body>
</html>