﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="../favicon.ico">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <style>
        .display {
            display: none;
        }

        .ui-autocomplete {
            width: 600px !important;
            top: 60px !important;
        }

        .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
            background-color: #2c3e50;
        }

        .scrollable-menu {
            height: auto;
            max-height: 400px;
            overflow-x: hidden;
        }
        ::-webkit-scrollbar
        {
          width: 12px;  /* for vertical scrollbars */
          height: 12px; /* for horizontal scrollbars */
        }

        ::-webkit-scrollbar-track
        {
          background: rgba(0, 0, 0, 0.1);
        }

        ::-webkit-scrollbar-thumb
        {
          background: rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
@using QuizLot.Models
@model dynamic
<body>
    @if (Request.IsAuthenticated)
    {
        <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
            <div class="container">
                <!-- Wrap navbar in a responsive container -->
                <div class="navbar-header">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/@HttpContext.Current.User.Identity.Name.Split('|')[1].ToString()"><img src="~/Content/logo.png" /></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <!-- Collect the nav links and other content for toggling -->
                    <ul class="nav navbar-nav">
                        <!-- Align to the left nav links, forms and other content -->
                        <li class="navbar-form navbar-left" role="search">
                            <div class="input-group" style="width:600px;">
                                <input type="text" class="form-control" id="txtSearch" placeholder="Search">
                                <span class="input-group-addon" id="searchPeople" style="cursor:pointer;"><span class="glyphicon glyphicon-search"></span></span>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Align to the right nav links, forms and other content -->
                        <li class="dropdown">
                            <!-- Dropdown -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="challengeBar"><span class="badge display" id="challengeNoti">0</span><span class="glyphicon glyphicon-fire"></span></a>
                            <ul class="dropdown-menu scrollable-menu display" role="menu" id="challengeNotiBar" style="display:none;"></ul>
                        </li>
                        <li class="dropdown">
                            <!-- Dropdown -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="friendRequestBar"><span class="badge display" id="friendRequestNoti">0</span><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-user"></span></a>
                            <ul class="dropdown-menu scrollable-menu" role="menu" id="friendRequestNotiBar" style="display:none;">
                            </ul>
                        </li>
                        <li class="dropdown">
                            <!-- Dropdown -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="messageBar"><span class="badge display" id="messageNoti">0</span><span class="glyphicon glyphicon-envelope"></span></a>
                            <ul class="dropdown-menu scrollable-menu" role="menu" id="messageNotiBar" style="display:none;"></ul>
                        </li>
                                                
                            <li class="dropdown">
                            <!-- Dropdown -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                                <li class="divider"></li>
                                <li id="signOut"><a href=""><span class="glyphicon glyphicon-log-out"></span> SignOut</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br /><br />
        @RenderBody()

        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        <script>
            $("#searchPeople").click(function () {
                var username = $("#txtSearch").val();
                window.location = "/" + username;
            })
            $("#signOut").click(function () {
                window.location = "/Home/SignOut";
            })
            $("#challengeBar").click(function () {
                $("#challengeNoti").hide();
            });
            $("#friendRequestBar").click(function () {
                $("#friendRequestNoti").hide();
            });
            $("#messageBar").click(function () {
                $("#messageNoti").hide();
            });
        </script>
        @RenderSection("scripts", required: false)
    }
    
    @if (!Request.IsAuthenticated)
    {
        <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
            <div class="container">
                <!-- Wrap navbar in a responsive container -->
                <div class="navbar-header">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="~/Content/logo.png" /></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <!-- Collect the nav links and other content for toggling -->
                    <ul class="nav navbar-nav navbar-right">
                        <li id="signin"><a href="#">SignIn</a></li>
                        <li id="signup"><a href="#">SignUp</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br /><br /><br />
        @RenderBody()

        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery")
    <script>
            $("#signup").click(function () {
                window.location = "/";
            });
            $("#signin").click(function () {
                window.location = "/";
            });
    </script>
        @RenderSection("scripts", required: false)

    }
</body>
</html>