﻿@using QuizLot.Models
@model dynamic


@{
    ViewBag.Title = "QuizLot";
        int userId = 0;
    string userName = "";
    bool checkFriend = false; 
    string defaultPic = "/Content/Profile_Pictures/default_profile.png"; 
}

@section Styles{
    @Styles.Render("~/Content/Profile-css")
}

<div class="ui-97" id="Profile_div">
    <div class="container">
                <div class="ui-member">
                    <div class="ui-head">
                        <!--cover photo-->
                        <img id="coverPhoto" class="ui-back img-responsive" src="~/Content/cover.png" alt=""/>
                        <!--profile photo-->
                        @foreach (var user in Model.users)
                        {
                            userId = user.id;
                            userName = user.user_name;
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <div class="ih-item circle colored effect1 col-md-4">
                                            <div class="img">
                                                <img class="img-responsive" src="@(user.pro_pic_location == null ? defaultPic : user.pro_pic_location)" alt="" style="border: 3px solid white;" />
                                            </div>
                                            <a href="#">
                                                <div class="info">
                                                    <div class="info-back">
                                                        <span id="pro_pic" data-toggle="modal" data-target="#pp_change_modal">
                                                            <h5 style="color: snow"><br />Change<br />Profile<br />Picture</h5>
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-left">
                                        <h1>
                                            <a href="#" class="text-success">@user.first_name @user.last_name</a>
                                        </h1>
                                        <!--social link-->
                                        <div class="social">
                                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>

                                    <div class="col-md-6" style="margin-top: 15px;">
                                        <div class="row">
                                            @{
                            if (Request.IsAuthenticated && HttpContext.Current.User.Identity.Name.Split('|')[1].ToString() != user.user_name)
                            {
                                foreach (var friend in Model.user_friends)
                                {
                                    if (Convert.ToInt32(HttpContext.Current.User.Identity.Name.Split('|')[0]) == friend.id)
                                    {
                                        checkFriend = true;
                                    }
                                }

                                if (checkFriend)
                                {
                                    <div class="col-md-3 col-md-offset-6">
                                        <a href="#" class="btn btn-lg btn-default pull-right text-success" value="@userName" onclick="sendChallengeRequest(this);"><i class="glyphicon glyphicon-fire"></i> Challenge</a>
                                    </div>
                                    <div class="col-md-3 pull-right">
                                        <a href="#" class="btn btn-lg btn-default pull-right text-success">&nbsp;<i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-user"></i> Friend &nbsp;</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 col-md-offset-6">
                                        <a href="#" class="btn btn-lg btn-default pull-right text-success" value="@userName" onclick="sendChallengeRequest(this);"><i class="glyphicon glyphicon-fire"></i> Challenge</a>
                                    </div>
                                    <div class="col-md-3 pull-right" id="sentRequest">
                                        <a href="#" class="btn btn-lg btn-default pull-right text-success" id="sendFriendRequest"><i class="glyphicon glyphicon-plus"></i><i class="glyphicon glyphicon-user"></i> Add Friend</a>
                                    </div>
                                }
                            }
                            else if (!Request.IsAuthenticated)
                            {
                                                <div class="col-md-3 col-md-offset-6">
                                                    <a href="#" class="btn btn-lg btn-default pull-right text-success"><i class="glyphicon glyphicon-fire"></i> Challenge</a>
                                                </div>
                                                <div class="col-md-3 pull-right">
                                                    <a href="#" class="btn btn-lg btn-default pull-right text-success"><i class="glyphicon glyphicon-plus"></i> Add Friend</a>
                                                </div>
                                            }
                                            else
                                            {

                                            }
}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
<hr/>
                        <!--Quiz rating-->
                    <div class="ui-328 ui-97">
                            <div class="row">
                                <div class="col-md-6 col-sm-offset-1">
                                    <!-- Item -->
                                    <div class="item bg-green">
                                        <!-- Inner -->
                                        <div class="inner">
                                            <h3>
                                                <a href="#">Win</a>
                                            </h3>
                                            @{
                                                double calc = 0.0;
                                                int win = 0;
                                                int lost = 0;
                                                int total = 0;
                                                foreach (var quizInfo in Model.user_quizes)
                                                {
                                                    win += quizInfo.won;
                                                    lost += quizInfo.lost;
                                                }
                                                if (win != 0 || lost != 0)
                                                {
                                                    total = win + lost;
                                                    calc = (100 * win) / total;   
                                                }
                                                else
                                                {
                                                    calc = 0;
                                                }
                                                <h2>@calc<span>%</span></h2>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <!-- Item -->
                                    <div class="item bg-red">
                                        <!-- Inner -->
                                        <div class="inner">
                                            <h3>
                                                <a href="#">Loss</a>
                                            </h3>
                                            @{
                                                
                                                if (win != 0 || lost != 0)
                                                {
                                                    total = win + lost;
                                                    calc = (100 * lost) / total;
                                                }
                                                else
                                                {
                                                    calc = 0;
                                                }
                                                <h2>@calc<span>%</span></h2>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--favorite list-->
                            <h4 class="col-md-12 text-success"><i class="glyphicon glyphicon-star"></i> Favorite Topics</h4>
                                <div class="col-md-12">
                                    <hr/>
                                    <div class="panel-body">
                                        @{
                                            int point = 0;
                                            string def = "00";
                                            foreach (var topic in Model.subjects)
                                            {
                                                <button class="btn btn-black" type="button">
                                                    <i class="glyphicon glyphicon-star"></i>@topic.name
                                                        @foreach (var quizInfo in Model.user_quizes)
                                                        {
                                                            if (topic.id == quizInfo.subject_id && userId == quizInfo.user_id)
                                                            {
                                                                point += quizInfo.points;
                                                                <i class="badge badge-white">
                                                                    @point
                                                                </i>
                                                            }
                                                            else
                                                            {
                                                                <i class="badge badge-white">
                                                                    @def
                                                                </i>
                                                            }
                                                        }
                                                </button>
                                            }
                                        }
                                    </div>
                                    <br />
                                </div>

                                <h4 class="col-md-12 text-success"><i class="glyphicon glyphicon-user"></i> Friend List</h4>
                                <div class="col-md-12">
                                <hr />
                                <div class="panel-body">
                                    <div class="row">
                                                @foreach (var friend in Model.user_friends)
                                                {
                                                    @:<div class="col-sm-3 col-md-2">
                                                        @:<div class="thumbnail">
                                                            @:<img src="@(friend.pro_pic_location == null ? defaultPic : friend.pro_pic_location)" alt="Friend" style="max-height: 150px;">
                                                            @:<div class="caption text-center">
                                                                @:<h6><a href="#" class="text-black">@friend.first_name @friend.last_name</a></h6>
                                                                @:<a href="#" class="btn btn-xs btn-default" role="button" value ="@friend.user_name" onclick="sendChallengeRequest(this);"><i class="glyphicon glyphicon-fire"></i> Challenge</a></p>
                                                                @:</div>
                                                            @:</div>
                                                        @:</div>
                                                }
                                    </div>
                                </div>
                            </div>
                        @if (Request.IsAuthenticated && HttpContext.Current.User.Identity.Name.Split('|')[1].ToString() == userName)
                            {
                            <h4 class="col-md-12 text-success"><i class="glyphicon glyphicon-wrench"></i> Settings</h4>
                            <div class="row">
                                <div class="container col-md-12">
                                    <hr/>
                                    <div class="panel panel-default" style="border:none;">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="col-xs-2">
                                                    <!-- required for floating -->
                                                    <!-- Nav tabs -->
                                                    <ul class="nav nav-tabs tabs-left">
                                                        <li class="active" id="homeTab"><a href="#home" data-toggle="tab">Accounts</a></li>
                                                        <li><a href="#profile" data-toggle="tab" id="profileTab">Security</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-9">
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="home">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    @foreach (var user in Model.users)
                                                                    {
                                                                       <label for="first_name">First Name</label>
                                                                        <input name="first_name" class="form-control" value="@user.first_name" />
                                                                        <label for="last_name">Last Name</label>
                                                                        <input name="last_name" class="form-control" value="@user.last_name" />
                                                                        <label for="email">Email</label>
                                                                        <input name="email" class="form-control" value="@user.email" />
                                                                        <br/>
                                                                        <input type="button" class="btn btn-sm btn-black pull-right" value="Change"/>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="profile">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                        <label for="password">New Password</label>
                                                                        <input name="password" class="form-control" />
                                                                        <label for="re-password">Re-Password</label>
                                                                        <input name="re-password" class="form-control" />
                                                                        <br />
                                                                        <input type="button" class="btn btn-sm btn-black pull-right" value="Change" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            }
                        else
                        {
                            <h4 class="col-md-12 text-success"></h4>
                            <div class="row">
                                <div class="container col-md-12">
                                    <div class="panel panel-default" style="border:none;">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="col-xs-2">
                                                    <!-- required for floating -->
                                                    <!-- Nav tabs -->
                                                </div>
                                                <div class="col-xs-9">
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="home">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="profile">
                                                            <div class="col-md-6">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

<!-- Modal -->
<div class="modal fade" id="pp_change_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 60px auto;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload new photo</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                    @Html.TextBox("file", null, new { Type = "file", Class = "form-control", Id = "file" })
                    <br/>
                    <input type="submit" class="btn btn-sm btn-success pull-right" name="Submit" id="Submit" value="Upload"/>
                }
                <br/><br/>
            </div>
        </div>
    </div>
</div>


    @if (Request.IsAuthenticated)
    {
    @section Scripts{        
    <!--Script references. -->
        <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
        <!--Reference the SignalR library. -->
        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="~/signalr/hubs"></script>
        <!--SignalR script to update the chat page and send messages.-->
        <script>
    $(function () {
        // Reference the auto-generated proxy for the hub.
        var chat = $.connection.chatHub;
        $.connection.hub.qs = "myUser=" + @HttpContext.Current.User.Identity.Name.Split('|')[0];
        // Create a function that the hub can call back to display messages.
        chat.client.send = function (name, message) {
            // Add the message to the page.
            var splitMessage = message.split("|");
            if(splitMessage[1] == 0){
                var notiCount = parseInt($("#friendRequestNoti").html());
                $("#friendRequestNoti").html(notiCount+1);
                $("#friendRequestNotiBar").prepend('<li><a href="#" style="cursor:text;"><span style="color:gray;">'+name+' </span>'+splitMessage[0]+' &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-thumbs-up" onclick="acceptfriendNoti(this);" value="'+splitMessage[1]+'" user="'+name+'" style="cursor:pointer;"></i>&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-thumbs-down" onclick="deleteNoti(this);" value="'+splitMessage[1]+'" user="'+name+'" style="cursor:pointer;"></i></a></li>');
                $("#friendRequestNoti").show();
                $("#friendRequestNotiBar").css("display", "");
            }
            if(splitMessage[1] == 1 ){
                var notiCount = parseInt($("#challengeNoti").html());
                $("#challengeNoti").html(notiCount+1);
                $("#challengeNotiBar").prepend('<li><a href="#" style="cursor:text;"><span style="color:gray;">'+name+' </span>'+splitMessage[0]+' &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-thumbs-up" onclick="acceptchallengeNoti(this);" value="'+splitMessage[1]+'" user="'+name+'" topic="'+splitMessage[2]+'" style="cursor:pointer;"></i>&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-thumbs-down" onclick="deleteNoti(this);" value="'+splitMessage[1]+'" user="'+name+'" style="cursor:pointer;"></i></a></li>');
                $("#challengeNoti").show();
                $("#challengeNotiBar").css("display", "");
            }
            if(splitMessage[1] == 2){
                var notiCount = parseInt($("#friendRequestNoti").html());
                $("#friendRequestNoti").html(notiCount+1);
                $("#friendRequestNotiBar").prepend('<li><a href="#" style="cursor:text;"><span style="color:gray;">'+name+' </span>'+splitMessage[0]+' &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-remove" onclick="deleteNoti(this);" value="'+splitMessage[1]+'" user="'+name+'" style="cursor:pointer;"></i></a></li>');
                $("#friendRequestNoti").show();
                $("#friendRequestNotiBar").css("display", "");
            }
            if(splitMessage[1] == 3 ){
                var notiCount = parseInt($("#challengeNoti").html());
                $("#challengeNoti").html(notiCount+1);
                $("#challengeNotiBar").prepend('<li><a href="#" style="cursor:text;"><span style="color:gray;">'+name+' </span>'+splitMessage[0]+' &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-play" onclick="completeChallenge();" style="cursor:pointer;"></i></a></li>');
                $("#challengeNoti").show();
                $("#challengeNotiBar").css("display", "");
            }
        };

        // Start the connection.
        $.connection.hub.start().done(function () {
            // Call the Send method on the hub.
            $("#sendFriendRequest").click(function(){
                chat.server.send(@HttpContext.Current.User.Identity.Name.Split('|')[0], @userId.ToString(), 'has sent you a friend request|' + 0 + '|' + "");
                $("#sentRequest").html('<a href="#" class="btn btn-lg btn-default pull-right text-success" disabled="disabled"><i class="glyphicon glyphicon-ok"></i> Request Sent</a>');
                // Clear text box and reset focus for next comment.
            });
            $("#acceptFriendRequest").click(function(){
                var username = "@userName";
                var receivername = "@HttpContext.Current.User.Identity.Name.Split('|')[1].ToString()";
                var notitype = 0;
                $.ajax({
                    type: "POST",
                    url: "profile/addfriend",
                    data: {  username: username,  receivername: receivername, notitype: notitype},
                    cache: false,
                    success: function (data) {
                        if(data){
                            chat.server.send(@HttpContext.Current.User.Identity.Name.Split('|')[0], @userId.ToString(), 'has accepted your friend request|' + 2 + '|' + "");
                            $("#sentRequest").html('<a href="#" class="btn btn-lg btn-default pull-right text-success">&nbsp;<i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-user"></i> Friend &nbsp;</a>');
                            // Clear text box and reset focus for next comment.
                        }
                    }
                });
            });
        });
    });
</script>

        <script>
    $(document).ready(function(){
        var receiverName = "@HttpContext.Current.User.Identity.Name.Split('|')[1].ToString()";
        $.ajax({
            type: "POST",
            url: "profile/getnoti",
            data: { receiverName: receiverName },
            cache: false,
            success: function (data) {
                var friendnotiCount = 1;
                var challengenotiCount = 1;
                $.each(data, function (key, value) {
                    // For each record in the returned array
                    if(value.type == 0){
                        $("#friendRequestNoti").html(friendnotiCount++);
                        $("#friendRequestNotiBar").append('<li><a href="#" style="cursor:text;"><span style="color:gray;">'+value.user_name+' </span>'+value.message+' &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-thumbs-up" onclick="acceptfriendNoti(this);" value="'+value.type+'" user="'+value.user_name+'" style="cursor:pointer;"></i>&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-thumbs-down" onclick="deleteNoti(this);" value="'+value.type+'" user="'+value.user_name+'" style="cursor:pointer;"></i></a></li>');
                        $("#friendRequestNoti").show();
                        $("#friendRequestNotiBar").css("display", "");
                    }
                    if(value.type == 1){
                        $("#challengeNoti").html(challengenotiCount++);
                        $("#challengeNotiBar").append('<li><a href="#" style="cursor:text;"><span style="color:gray;">'+value.user_name+' </span>'+value.message+' &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-thumbs-up" onclick="acceptchallengeNoti(this);" topic="'+value.subject_name+'" value="'+value.type+'" user="'+value.user_name+'" style="cursor:pointer;"></i>&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-thumbs-down" onclick="deleteNoti(this);" value="'+value.type+'" user="'+value.user_name+'" style="cursor:pointer;"></i></a></li>');
                        $("#challengeNoti").show();
                        $("#challengeNotiBar").css("display", "");
                    }
                    if(value.type == 2){
                        $("#friendRequestNoti").html(friendnotiCount++);
                        $("#friendRequestNotiBar").append('<li><a href="#" style="cursor:text;"><span style="color:gray;">'+value.user_name+' </span>'+value.message+' &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-remove" onclick="deleteNoti(this);" value="'+value.type+'" user="'+value.user_name+'" style="cursor:pointer;"></i></a></li>');
                        $("#friendRequestNoti").show();
                        $("#friendRequestNotiBar").css("display", "");
                    }
                    if(value.type == 3 ){
                        var notiCount = parseInt($("#challengeNoti").html());
                        $("#challengeNoti").html(notiCount+1);
                        $("#challengeNotiBar").prepend('<li><a href="#" style="cursor:text;"><span style="color:gray;">'+name+' </span>'+splitMessage[0]+' &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-play" onclick="completeChallenge();" style="cursor:pointer;"></i></a></li>');
                        $("#challengeNoti").show();
                        $("#challengeNotiBar").css("display", "");
                    }
                });
            }
        });

        $.ajax({
            type: "POST",
            url: "profile/getfriendnoti",
            data: { receiverName: receiverName },
            cache: false,
            success: function (data) {
                var friendnotiCount = 1;
                var challengenotiCount = 1;
                $.each(data, function (key, value) {
                    // For each record in the returned array
                    if(value.type == 0){
                        if(value.user_name == "@HttpContext.Current.User.Identity.Name.Split('|')[1].ToString()" && value.receiver_name == "@userName"){
                            $("#sentRequest").html('<a href="#" class="btn btn-lg btn-default pull-right text-success" disabled="disabled"><i class="glyphicon glyphicon-ok"></i> Request Sent</a>');
                        }
                        if(value.receiver_name == "@HttpContext.Current.User.Identity.Name.Split('|')[1].ToString()" && value.user_name == "@userName"){
                            $("#sentRequest").html('<a href="#" class="btn btn-lg btn-default pull-right text-success" id="acceptFriendRequest"> Accept Request</a>');
                        }
                    }
                });
            }
        });
    });

    function acceptchallengeNoti(x){
        var userName = $(x).attr("user");
        var opponentName = "@HttpContext.Current.User.Identity.Name.Split('|')[1].ToString()";
                var topicName = $(x).attr("topic");
                $.ajax({
                    type: "POST",
                    url: "quiz/quizinitialize",
                    data: {  userName: userName,  opponentName: opponentName, topicName: topicName},
                    cache: false,
                    success: function (data) {
                        if(data){
                            window.location = "/quiz/" + userName + "/" + topicName;
                        }
                    }
                });
            }

            function deleteNoti(x){

                var username = $(x).attr("user");;
                var receivername = "@HttpContext.Current.User.Identity.Name.Split('|')[1].ToString()";
        var notitype = $(x).attr("value");
        $.ajax({
            type: "POST",
            url: "profile/deletenoti",
            data: { username: username,  receivername: receivername, notitype: notitype},
            cache: false,
            success: function (data) {
                if(data){
                    $(x).hide();
                }
            }
        });
    }

    function sendChallengeRequest(x){
        var opponentName = $(x).attr("value");
        window.location = "topic/" + opponentName;
    }

    function acceptfriendNoti(x){
        var username = $(x).attr("user");
        window.location = "/" + username;
    }

    $("#homeTab").click(function(){
        $("#home").addClass("active");
        $("#profile").removeClass("active");
    })

    $("#profileTab").click(function(){
        $("#profile").addClass("active");
        $("#home").removeClass("active");
    })

    $("#txtSearch").autocomplete({
        source: '@Url.Action("FindPeople")'
    });
</script>
    }
}