﻿@model QuizLot.Models.users

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "QuizLot";
}

@if (Session["signup-error"] == null)
{
    using (Html.BeginForm("SignIn", "Home"))
    {
        <div class="col-md-offset-9 col-md-3 col-sm-12 col-xs-12 signin-panel">
            <div class="panel" style="background-color:rgba(255, 255, 255, 0.07); color:white;">
                <div class="panel-body">
                    <div class="form-group">
                        @ViewBag.signin_error
                        <br/>
                        @Html.Label("Username", new { For = "username" })
                        @Html.TextBox("username", null, new { Class = "form-control", Style = "background-color:rgba(255, 255, 255, 0.07); color:white;" })

                        @Html.Label("Password", new { For = "password" })
                        @Html.Password("password", null, new { Class = "form-control", Style = "background-color:rgba(255, 255, 255, 0.07); color:white;" })
                    </div>
                    <input type="submit" class="btn btn-success pull-right" name="submit" value="SignIn" />
                </div>
            </div>
        </div>
    }

    using (Html.BeginForm("SignUp", "Home"))
    {
        <div class="col-md-offset-9 col-md-3 col-sm-12 col-xs-12 signup-panel display">
            <div class="panel" style="background-color:rgba(255, 255, 255, 0.07); color:white;">
                <div class="panel-body">
                    <div class="form-group">
                        @Html.Label("Username", new { For = "user_name" })
                        @Html.TextBox("user_name", null, new { Class = "form-control", Style = "background-color:rgba(255, 255, 255, 0.07); color:white;" })
                        @Html.ValidationMessageFor(model => model.user_name)

                        @Html.Label("Email", new { For = "email" })
                        @Html.TextBox("email", null, new { Class = "form-control", Style = "background-color:rgba(255, 255, 255, 0.07); color:white;" })
                        @Html.ValidationMessageFor(model => model.email)

                        @Html.Label("Password", new { For = "password" })
                        @Html.Password("password", null, new { Class = "form-control", Style = "background-color:rgba(255, 255, 255, 0.07); color:white;" })
                        @Html.ValidationMessageFor(model => model.password)

                        @Html.Label("Re-Password", new { For = "repassword" })
                        @Html.Password("repassword", null, new { Class = "form-control", Style = "background-color:rgba(255, 255, 255, 0.07); color:white;" })
                        <br />
                        @Html.RadioButton("gender", 0)
                        @Html.Label("Male", new { For = "gender" })
                        <br />
                        @Html.RadioButton("gender", 1)
                        @Html.Label("Female", new { For = "gender" })
                        @Html.ValidationMessageFor(model => model.gender)

                        <br /><br />
                        <small><small><small>By clicking SignUp, you agree to our Terms and Conditions.</small></small></small>
                    </div>
                    <input type="submit" class="btn btn-success pull-right" name="submit" value="SignUp" />
                </div>
            </div>
        </div>
    }
}

@if (Session["signup-error"] != null)
{
    using (Html.BeginForm("SignIn", "Home"))
    {
        <div class="col-md-offset-9 col-md-3 col-sm-12 col-xs-12 signin-panel display">
            <div class="panel" style="background-color:rgba(255, 255, 255, 0.07); color:white;">
                <div class="panel-body">
                    <div class="form-group">
                        @Html.Label("Username", new { For = "username" })
                        @Html.TextBox("username", null, new { Class = "form-control", Style = "background-color:rgba(255, 255, 255, 0.07); color:white;" })

                        @Html.Label("Password", new { For = "password" })
                        @Html.Password("password", null, new { Class = "form-control", Style = "background-color:rgba(255, 255, 255, 0.07); color:white;" })
                    </div>
                    <input type="submit" class="btn btn-success pull-right" name="submit" value="SignIn" />
                </div>
            </div>
        </div>
    }

    using (Html.BeginForm("SignUp", "Home"))
    {
        <div class="col-md-offset-9 col-md-3 col-sm-12 col-xs-12 signup-panel">
            <div class="panel" style="background-color:rgba(255, 255, 255, 0.07); color:white;">
                <div class="panel-body">
                    <div class="form-group">
                        @Html.Label("Username", new { For = "user_name" })
                        @Html.TextBox("user_name", null, new { Class = "form-control", Style = "background-color:rgba(255, 255, 255, 0.07); color:white;" })
                        @Html.ValidationMessageFor(model => model.user_name)
                        @ViewBag.username_error
                        <br />
                        @Html.Label("Email", new { For = "email" })
                        @Html.TextBox("email", null, new { Class = "form-control", Style = "background-color:rgba(255, 255, 255, 0.07); color:white;" })
                        @Html.ValidationMessageFor(model => model.email)
                        @ViewBag.email_error
                        <br />
                        @Html.Label("Password", new { For = "password" })
                        @Html.Password("password", null, new { Class = "form-control", Style = "background-color:rgba(255, 255, 255, 0.07); color:white;" })
                        @Html.ValidationMessageFor(model => model.password)
                        <br />
                        @Html.Label("Re-Password", new { For = "repassword" })
                        @Html.Password("repassword", null, new { Class = "form-control", Style = "background-color:rgba(255, 255, 255, 0.07); color:white;" })
                        @ViewBag.pass_error
                        <br />
                        @Html.RadioButton("gender", 0)
                        @Html.Label("Male", new { For = "gender" })
                        <br />
                        @Html.RadioButton("gender", 1)
                        @Html.Label("Female", new { For = "gender" })
                        <br />
                        @Html.ValidationMessageFor(model => model.gender)
                        @ViewBag.gender_error

                        <br /><br />
                        <small><small><small>By clicking SignUp, you agree to our Terms and Conditions.</small></small></small>
                    </div>
                    <input type="submit" class="btn btn-success pull-right" name="submit" value="SignUp" />
                </div>
            </div>
        </div>
    }

    Session.Remove("signup-error");
}