/************************
Designed by : http://responsivewebinc.com
************************/
/* Open Sans  */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600');
/* General CSS */
/* UI - X */
.ui-135{
	max-width:800px;
	margin:60px auto;
}
/* Item */
.ui-135 .ui-item{
	width:100%;
	background:#fff;
	border-radius:3px;
	box-shadow:0px 0px 1px rgba(0,0,0,0.2), 0px 0px 10px rgba(0,0,0,0.1);
	height:38px;
	margin-bottom:10px;
	position:relative;
	overflow:hidden;
}
/* Heading */
.ui-135 .ui-item h5{
	float:left;
	font-size:13px;
	line-height:38px;
	margin:0px;
	margin-left:10px;
}
.ui-135 .ui-item h5 > a{
	color:#888;
}
.ui-135 .ui-item h5 i{
	margin-right:7px;	
}
/* Action */
.ui-135 .ui-item .ui-action{ 
	height:38px;
	position:absolute;
	right:-92px;
	z-index:10;
	width:105px;
}
.ui-135 .ui-item .ui-action:nth-child(4){ 
	border-radius:3px;
}
.ui-135 .ui-item .ui-action a{ 
	height:100%;
	width:30px;
	float:left;
	padding:0px 0px;
	color:#fff;
	box-shadow:inset 0px 0px 1px rgba(0,0,0,0.1);
}
/* Button */
.ui-135 .ui-item .ui-action a.ui-btn{ 
	width:15px;
}
/* Background */
.ui-135 .ui-item .ui-action a.ui-bg-red{
	background:#e52d16;
}
.ui-135 .ui-item .ui-action a.ui-bg-green{
	background:#30c247;
}
.ui-135 .ui-item .ui-action a.ui-bg-yellow{
	background:#dfb803;
}
.ui-135 .ui-item .ui-action a.ui-bg-purple{
	background:#ba4ede;
}
.ui-135 .ui-item .ui-action a.ui-bg-rose{
	background:#ff2edf;
}
.ui-135 .ui-item .ui-action a.ui-bg-orange{
	background:#F57D4E;
}
.ui-135 .ui-item .ui-action a.ui-bg-lblue{
	background:#1faabe;
}
/* Icon */
.ui-135 .ui-item .ui-action a > i{ 
	text-align:center;
	line-height:38px;
	width:30px;
}