html,
body {
  height: 100%;
  font: 16px/1.5 "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
  margin: 0 0 15px; 
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 72px;
  text-align: center;
}

.list-unstyled>li {
  display: inline-block;
}

.navbar {
  margin-bottom: 0;
}

.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url("/Content/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:      cover;
  background-size:         cover;
  color: #FFF;
}

.header.no-bg {
  background: #18BC9C;
  color: #2C3E50;
}

.text-v-align {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.btn {
  font-size: 1em;
  font-weight: 700;
}

.btn-inverse,
.btn-inverse:hover,
.btn-inverse:active {
  border: 2px solid #18BC9C;
  border-radius: 6px;
  background: transparent;
  color: #18BC9C;
}

.btn-default,
.btn-default:hover,
.btn-default:active {
  border: 2px solid #2C3E50;
  border-radius: 6px;
  background: transparent;
  color: #2C3E50;
}

.control-panel {
  display: none;
  position: fixed;
  top: 150px;
  left: 0;
  border-bottom-right-radius: 6px;
  background-color: #1E2A36;
  color: #FFF;
  width: 123px;
  height: auto;
  z-index: 10;
  transition: all .5s;
}

.control-panel-open {
  left: 0;
}

.control-panel-close {
  left: -123px;
}

.control-panel-content {
  padding: 15px;
}

.control-panel-section:not(:first-child) {
  margin-top: 15px; 
}

.control-panel-section h6 {
  margin-bottom: 9px;
}

.btn-control-panel {
  display: table;
  position: absolute;
  right: -50px;
  width: 50px;
  height: 50px;
  background: inherit;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}

.btn-control-panel i {
  display: table-cell;
  vertical-align: middle;
  font-size: 1em;
  text-align: center;
}