/* 
  Flat - v.2.0.0
  http://haundodesign.com/flat
  
  Handcrafted by Haundo Design
*/

.navbar {
	border: none;
	min-height: 60px;
	font-family: "Lato", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 16px;
}

.navbar-brand {
	padding: 20px 15px;
	height: 60px;
	max-height: 60px;
	font-size: 1.25em;
	line-height: 16px;
	transition: color .3s;
}

.navbar-nav>li>a {
	outline: 0;
	padding: 20px 15px;
	line-height: 20px;
	transition: background .3s, color .3s;
}

.dropdown-menu {
	box-shadow: none;
	border: none;
	border-radius: 6px;
	font-size: 1em;
}

.dropdown-menu>li>a {
	transition: background-color .3s;
}

.dropdown-menu .divider {
	height: 2px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	margin-top: -5px;
}

.dropdown-submenu>a>.caret {
	-webkit-transform: rotate(270deg);
	-moz-transform:		 rotate(270deg);
	-ms-transform:		 rotate(270deg);
	transform: 				 rotate(270deg);
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-header {
	font-size: 14px;
}

.navbar-form {
	box-shadow: none;
	margin: 10px 0;
	border: none;
}

.navbar-form .form-control {
	box-shadow: none;
	border: none;
	border-radius: 6px;
	height: 40px;
	font-size: 1em;
	transition: color .3s;
}

.input-group-addon {
	border: none;
	border-radius: 6px;
	font-size: 1em;
}

.navbar-toggle {
	margin: 10px 15px 10px 0;
	border: none;
	border-radius: 6px;
	padding: 13px 10px;
}

.navbar-toggle .icon-bar {
	border-radius: 6px;
}

.navbar-collapse {
	box-shadow: none;
	border: none;
}

.navbar .badge {
	z-index: 10;
	position: absolute;
	border-radius: 50%;
	padding: 0;
	width: 16px;
	height: 16px;
	font-size: 10px;
	line-height: 1.5;
	-webkit-transform: translate(-8px, -4px);
	-moz-transform:		 translate(-8px, -4px);
	-ms-transform:		 translate(-8px, -4px);
	transform: 				 translate(-8px, -4px);
}

.navbar .glyphicon {
	line-height: 0;
}

.navbar-default .dropdown-menu>.disabled>a,
.navbar-inverse .dropdown-menu>.disabled>a,
.navbar-default .dropdown-menu>.disabled>a:focus,
.navbar-default .dropdown-menu>.disabled>a:hover,
.navbar-inverse .dropdown-menu>.disabled>a:focus,
.navbar-inverse .dropdown-menu>.disabled>a:hover {
	background-color: transparent;
}

@media (min-width: 768px) {
	.navbar {
		border-radius: 6px;
	}

	.navbar-static-top,
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		border-radius: 0;
	}
}

@media (max-width: 767px){
	.navbar-nav>li>a {
		padding: 10px 15px;
	}

	.dropdown-submenu>.dropdown-menu {
		display: block;
		position: static;
	}

	.navbar-nav .open .dropdown-submenu>.dropdown-menu>li>a {
		padding-left: 50px;
	}
}