﻿@using QuizLot.Models
@model dynamic

@{
    ViewBag.Title = "Quiz";
    int userId = 0;
    string userName = "";    
    string defaultPic = "/Content/Profile_Pictures/default_profile.png"; 
}

@section Styles{
    @Styles.Render("~/Content/quiz-css")
}
<div class="ui-35">
    <div class="container-fluid">
        <div class="page-header">
            <ul class="text-info" id="fade" style="list-style:none; font-size:25px; margin-left:-40px;">
                <li>True knowledge is always with fun.</li>
                <li>Light up your knowledge with fun.</li>
                <li>Judge yourself with your knowledge.</li>
                <li>Beat your friend and show your potential.</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1">
                @foreach (var user in Model.users)
                {
                    userId = user.id;
                    userName = user.user_name;
                    <img src="@(user.pro_pic_location == null ? defaultPic : user.pro_pic_location )" alt="" class="img-responsive">
                }
                <!-- Bar Item -->
                <div class="bar-item">
                    <div class="bar">
                        <!-- Vertical bar -->
                        <div class="vertical-bar">
                            <div class="bar-content bg-red" datalimit="00"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-8">
                <h1 class="text-center red">02:35</h1>
                        <div class="ui-135">
            @{
                int zero = 0;
                foreach (var question in Model.temp_quiz_informations)
                {
                    
                    <div class="container-fluid">
                        <input type="hidden" id="next_question" value="@(question.question_serial_number+1)" />
                        <input type="hidden" id="topicName" value="@question.subject_name" />

                        <h1>@zero<span id="question_serial_number">@question.question_serial_number</span>.<span id="question_name">@question.question_name</span></h1>
                        <br />
                        @{
                    string options = question.question_option;
                    string optionId = "option";
                    string[] splitOption = options.Split('|');
                    for (int i = 0; i < splitOption.Length; i++)
                    {
                        <!-- Item Starts -->
                        <div class="ui-item clearfix">
                            <!-- Heading -->
                            <h5><a href="#"><i class="fa fa-circle lblue option"></i><span id="@optionId@i" onclick="check_answer(this);">@splitOption[i]</span></a></h5>
                            <!-- Action -->
                            <div class="ui-action clearfix">
                                <!-- btn -->
                                <a href="#" class="ui-btn ui-bg-lblue"></a>
                            </div>
                        </div>
                        <!-- Item Ends -->
                    }
                        }
                    </div>
                }
            }
</div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src="@ViewBag.opponentPic" alt="" class="img-responsive">
                <!-- Bar Item -->
                <div class="bar-item">
                    <div class="bar">
                        <!-- Vertical bar -->
                        <div class="vertical-bar">
                            <div class="bar-content bg-green" datalimit="00"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>

    <script>
    $(function () {
        setInterval(function () {
            var questionId = parseInt($("#next_question").val());
            var topicName = $("#topicName").val();
            var userId = "@userId";
            $.ajax({
                type: "POST",
                url: "getquestion",
                data: { questionId: questionId, userId: userId, topicName: topicName },
                cache: false,
                success: function (data) {
                    $.each(data, function (key, value) {
                        // For each record in the returned array
                        $("#next_question").val(value.question_serial_number+1);
                        $("#question_serial_number").html(value.question_serial_number);
                        $("#question_name").html(value.question_name);

                        var options = value.question_option;
                        var arr = options.split("|");
                        for (i = 0; i < arr.length; i++) {
                            $("#option"+i).html(arr[i]);
                        }
                    });
                }
            });
        }, 5000);
    });

    function check_answer(x) {
        var id = parseInt($("#next_question").val()-1);
        var option = $(x).html();
        $.ajax({
            type: "POST",
            url: "Quiz/CheckAnswer",
            data: {id:id, option: option },
            cache: false,
            success: function (data) {

                var me = $(".bg-red");
                var percentage = parseInt(me.attr("datalimit"));
                var perc = percentage + 25;
                var current_perc = 0;
                $('.bg-red').attr('datalimit', perc);

                if (!$(this).hasClass('stop')) {

                    var progress = setInterval(function () {

                        if (current_perc >= perc) {
                            clearInterval(progress);
                        } else {
                            current_perc += 1;
                            me.css('height', (current_perc) + '%');
                        }

                    }, 15);

                    me.addClass('stop');

                }
                $(function () {

                    var chat = $.connection.chatHub;
                    $.connection.hub.qs = "myUser=" + @HttpContext.Current.User.Identity.Name.Split('|')[0];

                        chat.client.send = function (name, message) {

                            var me = $(".bg-green");
                            var percentage = parseInt(me.attr("datalimit"));
                            var perc = percentage + 25;
                            var current_perc = 0;
                            $('.bg-green').attr('datalimit', perc);

                            if (!$(this).hasClass('stop')) {

                                var progress = setInterval(function () {

                                    if (current_perc >= perc) {
                                        clearInterval(progress);
                                    } else {
                                        current_perc += 1;
                                        me.css('height', (current_perc) + '%');
                                    }

                                }, 15);

                                me.addClass('stop');

                            }
                        };

                        $.connection.hub.start().done(function () {
                            chat.server.send(@HttpContext.Current.User.Identity.Name.Split('|')[0], friend_id, 'No Message');
                        });
                    });
                }
            });
        }


    </script>
    <script>
        (function ($) {
            $.fn.list_ticker = function (options) {

                var defaults = {
                    speed: 4000,
                    effect: 'slide'
                };

                var options = $.extend(defaults, options);

                return this.each(function () {

                    var obj = $(this);
                    var list = obj.children();
                    list.not(':first').hide();

                    setInterval(function () {

                        list = obj.children();
                        list.not(':first').hide();

                        var first_li = list.eq(0)
                        var second_li = list.eq(1)

                        if (options.effect == 'slide') {
                            first_li.slideUp();
                            second_li.slideDown(function () {
                                first_li.remove().appendTo(obj);
                            });
                        } else if (options.effect == 'fade') {
                            first_li.fadeOut(function () {
                                second_li.fadeIn();
                                first_li.remove().appendTo(obj);
                            });
                        }
                    }, options.speed)
                });
            };
        })(jQuery);

    $(document).ready(function () {
        $('#fade').list_ticker({
            speed: 3000,
            effect: 'fade'
        });
    })

    $("#txtSearch").autocomplete({
        source: '@Url.Action("FindPeople")'
    });
</script>
}